/* hero */

.hero-container {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
}

.hero-path {
    margin: 0 0 12px;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    color: #FFF;
}

.hero-title {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #FFF;
}